.waste {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;  

    &-headline {
        min-width: 45%;
        display: flex; 
    }

    &-icon {
        &__controller {
            display:block;
        }
    }

    &-icon__svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey);
    }
    
    &-icon__svg-favourite {
        fill: var(--color-primary)
    }
    
    &-title {
        margin-left: .5rem;
    }
    &-body {
        margin-left: 2rem;
    }
}