.waste {
    display: flex;
    flex-direction: row;

    &-headline {
        min-width: 45%;
        display: flex;
    }

    &-icon {

    }

    &-icon__svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey);
        margin-right: .5rem;
    }
    
    &-icon__svg-favourite {
        fill: var(--color-primary)
    }
    
    &-title {}
    &-body {
        margin-left: 2rem;
    }
}