.headline {
    background-image: linear-gradient(to right, var(--color-secondary) , var(--color-primary));
    padding: 1rem 0;

    &-text {
        font-size: 2.5rem;
        color: white;
        text-align: center;
    }
}
