:root {
    --color-primary: #23995c;
    --color-primary-light: #f7fefa;
    --color-secondary: #1d5a93;
    --color-grey: #aaaaaa;
}

* {
    margin: 0;
    padding: 0;   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
 
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem  = 10px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 1.6;
}

body {}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.0rem;
}

a {
    outline: 0;
}